# for editor
.idea
.vscode
*.exe
*.iml

# fo OSX
.DS_Store
.AppleDouble
.LSOverride
.AppleDB
.AppleDesktop
.apdisk
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
._*
Icon